<div class="jumbotron">
  <h1>Admin</h1>
</div>
<div class="container" *ngIf="!isPassTrue">
  <div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label for="password">Please enter the password:</label>
        <input type="text" class="form-control" #pass placeholder="please enter password to log in">
      </div>
      <div class="center">
        <button type="button" class="btn" (click)="passCheck(pass.value); pass.value=''">Log In</button>
      </div>
    </div>
    <div class="col-sm-4">
    </div>
  </div>
</div>
<div class="container" *ngIf="isPassTrue">
  <div class="center">
    <button type="button" class="btn" (click)="addFormToggle()">Add a Team Member</button><br><br>
  </div>
  <div class="row">
    <div class="col-xs-2">
    </div>
    <div class="col-xs-8">
      <form *ngIf="showAddForm">
        <div class="form-group">
          <label for="first-name">First Name:</label>
          <input type="text" class="form-control" #firstName placeholder="member's first name">
        </div>
        <div class="form-group">
          <label for="last-name">Last Name:</label>
          <input type="text" class="form-control" #lastName placeholder="member's last name">
        </div>
        <div class="form-group">
          <label for="role">Role:</label>
          <select class="form-control" #role>
            <option value="none" selected>Choose One:</option>
            <option value="player">Player</option>
            <option value="staff">Staff</option>
          </select>
        </div>
        <div class="form-group">
          <label for="position">Position:</label>
          <select class="form-control" #position>
            <option value="none" selected>Choose One:</option>
            <option value="right-wing">Right Wing</option>
            <option value="left-wing">Left Wing</option>
            <option value="center">Center</option>
            <option value="defense">Defense</option>
            <option value="goalie">Goaltender</option>
            <option value="coach">Coach</option>
            <option value="support">Suopprting Staff</option>
          </select>
        </div>
        <div class="form-group">
          <label for="nationality">Nationality:</label>
          <input type="text" class="form-control" #nationality placeholder="member's nationality">
        </div>
        <div class="form-group">
          <label for="age">Age:</label>
          <input type="number" class="form-control" #age>
        </div>
        <div class="form-group">
          <label for="bio">Bio:</label>
          <textarea class="form-control" #bio placeholder="add information/history about team member here" rows="4"></textarea>
        </div>
        <div class="form-group">
          <label for="photo">Link to Photo:</label>
          <input type="text" class="form-control" #photo placeholder="please add a URL to the photo">
        </div>
        <div class="center">
          <button type="button" class="btn" (click)="newMember(firstName.value, lastName.value, role.value, position.value, nationality.value, age.value, photo.value, bio.value); firstName.value=''; lastName.value=''; role.value='none'; position.value='none'; nationality.value=''; age.value=''; photo.value=''; bio.value=''">Submit</button>
        </div>
      </form>
    </div>
    <div class="col-xs-2">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Role</th>
            <th>Position</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let member of members | async">
            <td>{{member.firstName}} {{member.lastName}}</td>
            <td>{{member.role}}</td>
            <td>{{member.position}}</td>
            <td>
              <button type="button" class="btn btn-xs btn-info" (click)="editFormToggle(member)">Edit</button>
              <app-edit-member *ngIf="member.isAdmin" [member]="member"></app-edit-member>
            </td>
            <td><button type="button" class="btn btn-xs btn-danger" (click)="deleteMember(member)">Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-2">
    </div>
</div>
