<div class="form-group">
  <label for="first-name">First Name:</label>
  <input type="text" class="form-control" [(ngModel)]="member.firstName">
</div>
<div class="form-group">
  <label for="last-name">Last Name:</label>
  <input type="text" class="form-control" [(ngModel)]="member.lastName">
</div>
<div class="form-group">
  <label for="role">Role:</label>
  <select class="form-control" [(ngModel)]="member.role">
    <option value="player">Player</option>
    <option value="staff">Staff</option>
  </select>
</div>
<div class="form-group">
  <label for="position">Position:</label>
  <select class="form-control" [(ngModel)]="member.position">
    <option value="right-wing">Right Wing</option>
    <option value="left-wing">Left Wing</option>
    <option value="center">Center</option>
    <option value="defense">Defense</option>
    <option value="goalie">Goaltender</option>
    <option value="coach">Coach</option>
    <option value="support">Suopprting Staff</option>
  </select>
</div>
<div class="form-group">
  <label for="nationality">Nationality:</label>
  <input type="text" class="form-control" [(ngModel)]="member.nationality">
</div>
<div class="form-group">
  <label for="age">Age:</label>
  <input type="number" class="form-control" [(ngModel)]="member.age">
</div>
<div class="form-group">
  <label for="bio">Bio:</label>
  <textarea class="form-control" [(ngModel)]="member.bio" rows="4"></textarea>
</div>
<div class="form-group">
  <label for="photo">Link to Photo:</label>
  <input type="text" class="form-control" [(ngModel)]="member.photo">
</div>
<div class="center">
  <button type="button" class="btn btn-sm" (click)="editMember(member)">Submit Edit</button>
</div>
