textarea:focus {
  box-shadow: 0 0 5px #ff928c;
  border: 1px solid #ff928c;
}

select:focus {
  box-shadow: 0 0 5px #ff928c;
  border: 1px solid #ff928c;
}

.btn:focus, .btn:active {
  outline: none
}
