/* You can add global styles to this file, and also import other style files */
.center {
  text-align: center;
}

.body {
  font-family: 'Dosis', sans-serif;
}

input[type=text]:focus {
  box-shadow: 0 0 5px #ff928c;
  border: 1px solid #ff928c;
}

input[type=number]:focus {
  box-shadow: 0 0 5px #ff928c;
  border: 1px solid #ff928c;
}
